.top {
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
  padding: 30px;
  margin-bottom: 10px;
}

/* Information Section Styling */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  /* Ensure full width */
}

/* Title Styling */
.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  text-align: justify;
}

/* Description Styling */
.desc {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: justify;
}

/* Author Image Styling */
.author {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

/* Avatar Image Styling */
.avatar {
  width: 100%;
  max-width: 1200px;
}

/* Content Section Styling */
.content {
  font-size: 25px;
  font-weight: 300;
  color: #000000;
  text-align: justify;
}

/* Responsive Styling for Mobile View */
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .desc,
  .content {
    font-size: 20px;
  }

  .avatar {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* Full width on mobile */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .desc,
  .content {
    font-size: 18px;
  }
}