.footer {
  color: rgb(0, 0, 0);
  padding: 20px 0;
  background-color: rgba(231, 231, 231, 0.861);
  background-size: cover;
  background-position: center;
}

.footerContainer {
  display: flex;
  max-width: 1200px;
  text-align: center;

}

.footerSection {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  text-align: center;
}

.footerSection h3 {
  margin-bottom: 10px;
}

.footerSection p,
.footerSection a {
  color: #4b4848;
  text-decoration: none;
}

.footerSection a:hover {
  color: #462626;
  text-decoration: underline;
}

.footerBottom {
  text-align: center;
  padding: 10px 0;
  color: #4b4848;

}

@media (max-width: 600px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerSection {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    text-align: center;
    font-size: larger;
  }

}

.gameImage {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-left: 5px;
}

.gameImage:hover {
  transform: scale(1.05);
}