.game-container {
    color: white;
    text-align: center;
}
.text-conainer {
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 17px;
}
.level-color {
    margin-bottom: 20px;
    text-align: center;
    color: black;
}
.planet-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.puzzlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
.card2 {
    padding-top: 100%;
    position: relative;
    background-color: #809e88;
    color: rgb(198, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.1s;
}
.card2.matched {
    background-color: #4caf50;
    cursor: default;
}
.card2.flipped {
    background-color: #5c5a5a;
    color: #ffffff;
    cursor: default;
    transform: rotateY(180deg);
}
.card2>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.message {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #040404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    margin-left: 10px;
}
.button:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #374151;
    color: rgb(21, 20, 20);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    margin-left: 10px;
}

.game-instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: rgba(75, 72, 72, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}
.game-instructions-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.instructions-title {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}
.instructions-description {
    font-size: 1rem;
    margin-bottom: 16px;

}
.instruction-step {
    margin-top: 16px;
    font-size: 20px;

}

.game-board {
    display: grid !important;
    grid-template-columns: repeat(3, 90px) !important;
    gap: 8px !important;
    justify-content: center !important;
}