.home-container {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.puzzle-games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.puzzle-games{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.puzzle-game-card {
  display: flex;
  width: 300px;
  height: 330px;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 10px;
}

.puzzle-game-image {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 8px;
}

.word-games{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.word-game-card {
  display: flex;
  width: 300px;
  height: 280px;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 10px;
}

.word-game-image {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 8px;
}

.puzzle-game-title {
  margin: 12px 0;
}

.puzzle-game-button {
  padding: 8px 16px;
  background-color: #0070f3;
  color: white;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.puzzle-game-button:hover {
  background-color: #005bb5;
}

.post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(156, 149, 149, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: calc(23% - 1px);
  box-sizing: border-box;
  border: 1.5px solid black;
  border-radius: 5px;
}

.imgContainer {
  width: 100%;
  margin-bottom: 10px;
}

.img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.button1 {
  height: 30px;
  width: 100px;
  padding: 5px;
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  text-align: center;
}

.postTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #111111;
  margin-bottom: 10px;
  margin-left: 10px;
}

.postContent {
  color: #111111;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: justify;
  margin-right: 10px;
}

.postScore {
  color: #111111;
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-left: 10px;
}

.delete {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #d9534f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-bottom: 10px;

}


.error {
  color: #d9534f;
  font-size: 1.1rem;
  text-align: center;
}

/* Responsive Design */

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .post {
    width: 100%;
    flex-direction: column;

  }

  .imgContainer {
    width: 100%;
  }

  .img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

}

@media (max-width: 768px) {
  .post {
    width: 100%;
    flex-direction: column;
  }

  .imgContainer {
    width: 100%;
  }

  .img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .postTitle {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-top: 10px;
  }

  .postContent {
    font-size: 0.9rem;
    margin-left: 10px;
  }

  .postScore {
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 10px;

  }

  .delete {
    font-size: 0.9rem;
    padding: 8px 15px;
    margin-left: 10px;
  }

  .button1 {
    margin-left: 10px;
    text-align: center;
  }
}

/* Extra small screens (small phones) */
@media (max-width: 480px) {
  .post {
    width: 100%;
    flex-direction: column;
    /* margin-top: 230px; */
  }

  .imgContainer {
    width: 100%;
  }

  .img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .postTitle {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-top: 10px;
  }

  .postContent {
    font-size: 0.9rem;
    margin-left: 10px;
  }

  .postScore {
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 10px;

  }

  .delete {
    font-size: 0.9rem;
    padding: 8px 15px;
    margin-left: 10px;
  }

  .button1 {
    margin-left: 10px;
    text-align: center;
  }
}


