.freetheme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 17px;
}

.card-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    
}

/* Adjust columns for different screen sizes */
@media (min-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-card {
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(202, 196, 196, 0.2);
    overflow: hidden;
    background-color: rgba(179, 171, 171, 0.2);
}

.product-image {
    position: relative;
    text-align: center;
    padding: 16px;
}

.product-title {
    font-size: 1.25rem;
    color: black;
    margin-bottom: 10px;
    font-weight: 600;
}

.product-image-pic {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
}

.social-icons li {
    list-style: none;
    cursor: pointer;
}

.social-icons .fa {
    color: gray;
}

.product-content {
    padding: 16px;
}

.product-category {
    color: #666;
}

.more-details {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 8px;
}