/* term.css */

.term {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.term h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.term h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000000;
}

.term p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #000000;
}

.term ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

.term ul li {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #000000;
}

.terms-content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(231, 231, 231, 0.861);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.terms-content a {
    color: #3498db;
    text-decoration: none;
}

.terms-content a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .term h1 {
        font-size: 2rem;
    }

    .term h2 {
        font-size: 1.5rem;
    }

    .terms-content {
        padding: 15px;
    }
}
